<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast Page</title>
</head>
<body>
    <div style="text-align:center">
        <div>
            <h2>Realtime weather</h2>
        </div>
        <div>
            <div>Your location: <b>[[${weather.location}]]</b></div>
        </div>
        <div>&nbsp;</div>
        <div>
            <div>Temperature: <b>[[${weather.temperature}]]°</b></div>
        </div>
        <div>&nbsp;</div>
        <div>
            <div>Humidity: <b>[[${weather.humidity}]]</b></div>
        </div>
        <div>
            <div>Precipitation: <b>[[${weather.precipitation}]]</b></div>
        </div>
        <div>&nbsp;</div>
        <div>
            <div>Wind speed: <b>[[${weather.windSpeed}]]</b></div>
        </div>
        <div>
            <div>Status: <b>[[${weather.status}]]</b></div>
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>
            <div>Last updated: <b>[[${weather.lastUpdated}]]</b></div>
        </div>
    </div>
</body>
</html>